footer {
  border-top: solid 5px rgb(190, 188, 70);
  position: relative;
  top: 5%;
  background-color: rgb(0, 9, 32);
  color: rgb(190, 188, 70);
  padding: 40px 0;
  overflow-y: hidden;
  overflow-x: hidden;
  height: 37.5vh;
  width: 100vw;
  display: flex;
  align-items: center;
}
.quicklinks{
  color: rgb(190, 188, 70);
}

.quicklinks ul {
  list-style: none;
  overflow-y: hidden;
  position: relative;
  left: -5%;
}

.quicklinks ul li a{
  line-height: 0.75;
  font-family: "lav";
  text-align: start;
  overflow-y: hidden;
  margin: 10px;
  padding-inline: 10px;
  text-decoration: none ;
  color: rgb(190, 188, 70);
  font-size: 20px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color .3s ease-in-out, box-shadow .4s ease-in-out;
}

.quicklinks ul li a:hover {
  box-shadow: inset 0 100px 0 0 rgb(190, 188, 70);
  color: rgb(0, 9, 32);
}


.footer-content {
  overflow-y: hidden;
  width: 100vw;
}

.social {
  overflow-y: hidden;
  font-size: 24px;
  position: absolute;
  top: 5%;
  left: 75%;
}

.ql {
  overflow-y: hidden;
  font-size: 24px;
  position: absolute;
  top: 5%;
  left: 45.5%;
}

.ig a{
  position: absolute;
  top: 15%;
  left: 80%;
  text-decoration: none;
  width: 120px;
  margin: 10px;
  padding-inline: 10px;
  font-family: "lav";
  color: rgb(190, 188, 70);
  font-size: 20px;
  padding: 5px;
  transition: color .3s ease-in-out, box-shadow .4s ease-in-out;
  text-decoration: none; /* Remove underline */
}

.ig a:hover {
  box-shadow: inset 0 100px 0 0 rgb(190, 188, 70);
  color: rgb(0, 9, 32);
}


.ig:hover {
  box-shadow: inset 0 100px 0 0 rgb(190, 188, 70);
  color: rgb(0, 9, 32);
}

.footer-contact {
  text-decoration: none !important;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer-contact h3 {
  height: 100%;
  position: absolute;
  left: 2.5%;
  top: -10;
  font-size: 56px;
  margin-bottom: 20px;
}

.footer-contact p {
  text-decoration: none !important;
  margin: 5px 0;
}

.footer-bottom {
  background-color: rgb(190, 188, 70);
  text-align: center;
  padding: 10px 0;
  margin-top: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-bottom p {
  margin: 0;
  font-size: 14px;
  color: rgb(0, 9, 32);
}

@media (max-width: 720px) {
  .footer-contact h3 {
    left: 0;
    top: 7.5%;
    font-size: 22px;
    transform: scale(1, 1.25);
  }
  .social {
    left: 75%;
    font-size: 14px;
  }
  .ql {
    left: 47.5%;
    font-size: 14px;
  }
  .quicklinks ul li a{
    bottom: 10px;
    font-size: 16px;
  }
  .quicklinks ul {
    height: 80%;
    left: 15%;
  }
  .ig a{
    top: 27.5%;
    left: 70%;
    font-size: 16px;
  }
}
