@import "../../pages/pageCss/App.css";



ul {
  width: 100vw;
  height: 8vh;
  position: relative;
  text-align: center;

}

li {
  display: inline-flex;
  justify-content: flex-end;
  padding: 20px;

}

a {
  padding-inline: 10px;
  font-family: 'Schoon';
  text-decoration: none;
  color: aliceblue;
  font-size: 25px;
}