
body{
    padding: 0;
    margin: 0;
    width: 100%;
    box-sizing: border-box; 

 }

 
 .container{
   background-color: antiquewhite;
    background-image: url(mockups/HomeBackground2.jpg);
    background-size: 40% ;
    background-position: 80% 5%;
    background-repeat: no-repeat;
    overflow-y: scroll;
 }