body {
    padding: 0;
    margin: 0;
    height: auto;
    width: 100vw;
    background-color: var(--background-color); /* Set the dark background color */
    color: var(--primary-color); /* Set the light text color */
  }
  
.T4 {
    position: absolute;
    top: 16%;
    left: 12%;
    font-family: 'ztr';
    transform: scale(1.2, 1.5);
    color: var(--primary-color);
    font-size: 75px; /* Adjust the font size */
    margin-bottom: 2rem; /* Add some spacing below the heading */
  }

  .section1{
    width: 100%;
    height: 75vh;
  }

  .t2{
    font-family: "lav";
    position: absolute;
    left: 10%;
    top: 35%;
    font-size: 25px;
    width: 700px;
    height: 100px;
  }

  .cam{
    position: absolute;
    top: 15%;
    right: 5%;
    width: 500px;
    height: 400px;
  }
  
  .contact-form {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .contact-form div {
    margin-bottom: 1.5rem; /* Increase the spacing between the form elements */
  }
  
  .contact-form label {
    background-color: var(--background-color);
    position: relative;
    width: 55px;
    display: block;
    margin-bottom: -0.5rem;
    margin-left: 0.5rem;

    z-index: 2;
  }

  .message{
    margin-right: 100px;
  }

  #message{
    height: 400px;
  }

  
  input,
  textarea {
    z-index: 1;
    width: 500px;
    height: 50px;
    padding: 1.5rem;
    background-color: var(--background-color); /* Set the dark background color for input fields */
    color: var(--primary-color);
    border: 1px solid rgb(190, 188, 70); /* Add a bottom border for input fields */
  }
  
  button {
    padding: 0.5rem 1rem;
    background-color: var(--primary-color);
    color: rgb(0, 9, 32); /* Set the dark text color for the button */
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: rgb(140, 138, 0); /* Change the button background color on hover */
  }

  @media (width <=720px) {
    body{
      overflow-x: hidden;
    }
    .cam{
      display: none;
    }
    input,
  textarea {
    width: 90vw;
  }
  .T4{
    font-size: 35px;
  }

  .t2{
    font-size: 16px;
    width: 300px;
    top: 27.5%;
    left: 7.5%;
  }


  }
  
  @font-face {
    font-family: 'Kingkey';
    src: url("../mockups/KingkeyDemoBlack-nRw40.ttf") format("openType");
  }
  
  @font-face {
    font-family: "Schoon";
    src: url("../mockups/SchoonheidContextualCapitals-1GvB0.otf") format("openType");
  }

  @font-face {
    font-family: "Exclusive";
    src: url("../mockups/Exclusive-MVqZP.ttf") format("openType");
  }

  @font-face {
    font-family: "ztr";
    src: url("../mockups/ztls.ttf") format("trueType");
  }